*{
  
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header{
    background: #ac11119d;
    width: 100%;
    clear: both;
    content: "";
    display: table;
    border-radius: 20px;
}
.menu{ 
    width: 900px;
    margin: 0 auto;
}

img{ /* Estilo de imagen de menu */
    width: 120px;
    height: 70px;
    float: left;
    padding: 0px;
    border-radius: 50%;
}

nav{
    float: right;
}

nav ul li { /*Estilo de ubicacion de los menus */
    list-style: none;
    margin-left: 75px;
    padding: 15px 0;
    float: left;
    position: relative;
}

nav ul li a { /* Estilo de letra de los menus*/
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: "";
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;
}

.form-register { /*Diseño de caja */
    width: 350px;
    background: #24303c69;
    padding: 25px;
    margin: auto;
    margin-top: 10px;
    border-radius: 100px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #0e0101;
    text-transform: uppercase;
    text-align: center;
    
}
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls { /*Diseño de los inputs */
    width: 100%;
    background: #bd561ba4; /*Color de caja de inputs */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #e08002;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(5, 4, 4); /*Color de letra input*/
} 

.controls::placeholder{ /*color del texto placehholder */
    color: #000000b6;
    text-align: center;
}

.form-register button { /*Color de TyC*/
    color: white;
    text-decoration: none;
    background: transparent;
}

.form-register a{
    text-decoration: none;
    color: #fff;
}

.form-register a:hover { /*Color al intentar leer los TyC */
    color: rgba(240, 92, 7, 0.767);
    text-decoration: underline;
}

.titulo{ /* estilo titulo registrate */
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
.form-register button:hover{/*Estilo Registrarse al pasar el cursos*/
    color: #da680b;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #da680b,
                0 0 25px #da680b,
                0 0 50px #da680b,
                0 0 100px #da680b;
}

.form-register form button{/*Estilo Registrarse*/
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #070606;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    border: solid #fff;
    border-radius: 10px;
}

.form-register button span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,
        transparent, #da680b);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}

.form-register-box  button span:nth-child(2){
    top:-100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, 
        transparent, #da680b);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}

.form-register-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, 
        transparent, #da680b);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}

.form-register-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,
        transparent, #da680b);
    animation: btn-anim4 1s linear infinite;
    animation: .75s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}
