/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*    background: linear-gradient(135deg, #ff634750, #ffa60081, #c5c51e5e);     */

}

header {
    background: linear-gradient(135deg, #FF6347, #FFA500, #c5c51e);    
    width: 100%;
    clear: both;
    content: "";
    display: table;
    border-radius: 10px;
    text-align: center; /* Centrar el texto del header */
}
.menu{ 
    width: 900px;
    margin: 0 auto;
}

img{ /* Estilo de imagen de menu */
    width: 120px;
    height: 70px;
    float: left;
    padding: 0px;
    border-radius: 50%;
}

nav{
    float: right;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li { /*Estilo de ubicacion de los menus */
    list-style: none;
    margin-left: 70px;
    padding: 1px 0;
    float: left;
    position: relative;
}

nav ul li a { /* Estilo de lestra de los menus*/
    text-decoration: none;
    color: #0e0a0a;
    font-weight: bold;
}

nav ul li .comp-icon {
    margin-left: 30px;
    color: #968181;
    font-size: 27px;
    width: 40px; /* Tamaño del círculo */
    height: 40px; /* Tamaño del círculo */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Color de fondo del círculo */
    position: relative;
}
nav ul li .comp-icon .counter {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ad2e0f;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nos ayuda a poner invisible el contador*/
.comp-icon .counter.hidden {
    display: none;
}
/* Muestra el contador cuando se selcciona un producto*/
.comp-icon .counter.visible {
    display: flex;
}
nav ul li .comp-icon:hover {
    background-color: #968181; /* Cambia el color de fondo al hacer hover */
    color: #fff; /* Cambia el color del ícono al hacer hover */
}
nav ul li .comp-icon:hover::before {
    width: 0; /* Anula la barra encima del ícono de carrito al hacer hover */
}
nav ul li a::before{
    display: block;
    content: "";
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;
}
.search-bar {
    display: flex;
    justify-content: right; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 20px 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

#search {
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #44444431;
}

#search-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* Catálogo de productos */
.catalogo {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Creacion de columnas */
    gap: 10px; /* Espacio entre elementos */
    padding: 20px;
    justify-items: center;} /* Centrar las tarjetas */

.producto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 7px 13px 20px #0e0101; /* Sombra de tarjetas*/
    border-radius: 10px;

}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h3 {
    margin-top: 10px;
}

.producto p {
    color: #000;
    margin-top: 5px;
}

.producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.producto button:hover{
    background-color: #b37632;
    color: #f7f3f3;
    font-size: 20px;
}

footer {
    position:grid;
    bottom: 0;
    display: flex;
    background: #d1a205;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    height: 90px;
}
.sec1{ /*Estilo de pie de pagina */
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;

}

.part1{ /*Sentido de ubicacion de pie de pagina */
    text-align: center;
}

.part2{ /*Diseño de letra de pie de pagina */
    color: #080606;
    padding-bottom: 2px;
    margin-bottom: 1px;
}
