* {
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes/fondoquie.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos el alto de la ventana */

}/*Modificamos el menu */
header {
    background: linear-gradient(135deg, #FF6347, #FFA500, #c5c51e);
    width: 100%;
    clear: both;
    content: "";
    display: block; /* Cambia a bloque para ocupar todo el ancho */
    border-radius: 10px;
    text-align: center; /* Centra horizontalmente los elementos */
}

.menu {
    width: 100%; /* Ocupa todo el ancho del encabezado */
    display: flex; /* Alinea los elementos horizontalmente */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px; /* Espaciado interno para los elementos del menú */
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav {
    display: flex; /* Alinea los elementos de navegación en línea */
    align-items: center; /* Centra verticalmente los elementos de navegación */ 
}

nav ul {
    list-style: none;
    display: flex; /* Alinea los elementos de navegación en línea */
}

nav ul li {
    margin-left: 140px;
    position: relative;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(10, 8, 8);
    font-weight: bold;
    font-size: 20px;
}

nav ul li a::before {
    display: block;
    content: "";
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
    
}.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.mision-vision {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.mision, .vision {
    background-color: #ffffffd2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.mision:hover, .vision:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

h2 {
    color: #0d0e0d;
}

p {
    color: #333;
    line-height: 1.6;
}

.mision {
    flex: 1;
}

.vision {
    flex: 1;
}
footer {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #d1a205;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
}
.sec1{ /*Estilo de pie de pagina */
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;

}

.part1{ /*Sentido de ubicacion de pie de pagina */
    text-align: center;
}

.part2{ /*Diseño de letra de pie de pagina */
    color: #080606;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
