* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* Añadimos margen cero */
    padding: 0; /* Añadimos padding cero */
}
header {
    background: linear-gradient(135deg, #FF6347, #FFA500, #c5c51e);    
    width: 100%;
    clear: both;
    content: "";
    display: table;
    border-radius: 10px;
    text-align: center; /* Centrar el texto del header */
}
.menu{ 
    width: 900px;
    margin: 0 auto;
}

img{ /* Estilo de imagen de menu */
    width: 120px;
    height: 70px;
    float: left;
    padding: 0px;
    border-radius: 50%;
}

nav{
    float: right;
}

nav ul li { /*Estilo de ubicacion de los menus */
    list-style: none;
    margin-left: 110px;
    padding: 15px 0;
    float: left;
    position: relative;
}

nav ul li a { /* Estilo de lestra de los menus*/
    text-decoration: none;
    color: #0e0a0a;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: "";
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before{
    width: 100%;
}

.visit-container {
    text-align: center;
    margin-top: 50px; /* Agrega un margen superior para separar la sección del encabezado del menú */
}

.visit-container h2 {
    font-size: 36px;
    color: #0e0a0a;
    margin-bottom: 20px; /* Espacio inferior entre el encabezado y el mapa */
}

.map-container {
    width: 1000px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Centra horizontalmente */
}
footer {
    display: flex;
    background: #d1a205;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0; /* Anclamos el footer al final de la página */
}

.sec1 {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}

.part1 {
    text-align: center;
}

.part2 {
    color: #080606;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
