* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* Añadimos margen cero */
    padding: 0; /* Añadimos padding cero */
}
header {
    background: linear-gradient(135deg, #FF6347, #FFA500, #c5c51e);
    width: 100%;
    clear: both;
    content: "";
    display: block; /* Cambia a bloque para ocupar todo el ancho */
    border-radius: 10px;
    text-align: center; /* Centra horizontalmente los elementos */
}

.menu {
    width: 100%; /* Ocupa todo el ancho del encabezado */
    display: flex; /* Alinea los elementos horizontalmente */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0 20px; /* Espaciado interno para los elementos del menú */
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav {
    display: flex; /* Alinea los elementos de navegación en línea */
    align-items: center; /* Centra verticalmente los elementos de navegación */ 
}

nav ul {
    list-style: none;
    display: flex; /* Alinea los elementos de navegación en línea */
}

nav ul li {
    margin-left: 95px;
    position: relative;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(10, 8, 8);
    font-weight: bold;
    font-size: 20px;
}

nav ul li a::before {
    display: block;
    content: "";
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
    
}

.visit-container {
    text-align: center;
    margin-top: 50px; /* Agrega un margen superior para separar la sección del encabezado del menú */
}

.visit-container h2 {
    font-size: 36px;
    color: #0e0a0a;
    margin-bottom: 20px; /* Espacio inferior entre el encabezado y el mapa */
}

.map-container {
    width: 1000px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Centra horizontalmente */
}
footer {
    display: flex;
    background: #d1a205;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0; /* Anclamos el footer al final de la página */
}

.sec1 {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}

.part1 {
    text-align: center;
}

.part2 {
    color: #080606;
    padding-bottom: 5px;
    margin-bottom: 1px;
}
