* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "montserrat";
    src: url('./font/Montserrat-VariableFont_wght.ttf') format('truetype');
    src: url('./font/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'); 
}



body {
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666;
    font-family: "montserrat", "sans-serif";
        
}

main {
    display: grid;    
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr 0.1fr;
    grid-template-areas: 
        "menu search search"
        "menu main main"
        "menu footer footer";
    height: 100vh;
}

header {
    grid-area: search;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

header .search-container {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
        
} 

header .search--icon {
    width: 30px;
    height: 30px;
    margin: auto 15px;
}


header .search-container input {
    border: none;
    outline: none;
    height: 70px;
    width: 90%;
    
}

header .search-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
    border-radius: 5px;
}

header img {
    width: 35px;
    height: 35px;
}

/* estilo del menu */
aside {
    grid-area: menu;
    height: 100%;
    min-width: 180px;
    background-color: #21232d;
    color: #9799ab;
}

aside .menu-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin-bottom: 25px;
    font-weight: 700;
}

aside .menu-logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 100%;
    box-shadow: 0 0 10px 10px rgba(253, 145, 3, 0.4), 0 0 10px 0 #f15901 ;    
}

aside .menu-items {
    list-style-type: none;  
       
}

aside .menu-items img {
    width: 35px;
    height: 35px;
    margin: 10px;
    align-items: center;
    filter: contrast(4) invert(1);
}

aside .menu-items a{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    text-decoration: none;
    color: #9799ab;
    
}

aside.menu-items li a {
    
    display: none;
}

aside .menu-items li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}


/* contenido del dashboard */
.main-section {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    margin-right: 0px;
}

/* .main-section .main-section--title {
    display: flex;
    justify-content: space-between;
} */
.main-section .main-cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0; */
    margin-top: 30px;
    width: 100%;
    padding: 35px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.main-section .main-cards .card {
    background: linear-gradient(45deg, #92949c, #e7cfab);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
 .card-inner--number {
    font-size: 35px;
    font-weight: 300;
    color: #fff;
 }
.card-inner--name {
    color: #444;
    font-weight: 400;
}

/* confi de la tabla */
.tabular--wrapper {
    background: #fff;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.tabla--title {
    margin: 8px;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #e0a369;
    color: #fff;
}

th {
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even) {
    background: #fff;
}

tfoot {
    background-color: #b37543;
    font-weight: bold;
    color: #fff;
    
}

tfoot td {
    padding: 15px;
    color: #fff;
    width: 100%;
}
tfoot tr{
    width: 100%;
}

.table-container button {
    color: green;
    background: none;
    cursor: pointer;
}

/* :::::boton de agragar::::: */
.boton-modal{
    
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}
.boton-modal label{
    display: inline-block;  
    padding: 10px 15px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: all 300ms ease;
}
.boton-modal label:hover{
    background-color: #185E83;
}

/* ventana modal con formulario */

/*:::Ventana Modal:::*/
#btn-modal{
    display: none;
}
.container-modal-up{
    display: flex;   
    
}
.container-modal{
    grid-area: main;
    
    top: 0; left: 0;
    background-color: #8C94A3;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #8C94A3 4px ), repeating-linear-gradient( #7680a655, #7680a6 );
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal{
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-modal h2{
    margin-bottom: 15px;
}
.content-modal .form{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    
}
.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3; /*#5488a3;*/
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 0 10px;
}


.content-modal .btn-cerrar label:hover{
    background-color:#185E83;
}
.cerrar-modal{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}
/* @media screen and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
} */
/*:::Fin Ventana Modal:::*/

/* :::Formulario::: */

.form{
    text-align: center;
    font-weight: 300;
}

.form-container{
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group{
    position: relative;
    --color: #575757;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 13px;
    padding: 7px 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
      
    /* inputs no heredan font, falta poner font-family */
}


.form__input:not(:placeholder-shown){
    color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px ) scale(.7);
    transform-origin: left top;
    color: #003ffd;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0040ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__input:focus + .form__line,
.form__input:not(:placeholder-shown) + .form__line {
    transform: scale(1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}


/* seccion del footer */
footer {
    grid-area: footer;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0,1);
    color: #222;
    background-color: #f8f8f8;
    cursor: pointer;
}

footer .footer-items {
    margin: 0;
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: right;
}

footer .footer-items a {
    margin: 10px;
    color: #5f6368;
    
}